<section id="banner">
  <div class="wrapper">
    <header>
      <a href="/"><p id="logo">J<span>Vac</span></p></a>
      <a href="#" class="menu"><i class="fa fa-bars"></i></a>

    <nav>
      <a href ="#features">Features</a>
      <a href ="about" >About Us </a>
      <a href="contact">Contact</a>
    </nav>




    </header>
    <div class="content">
    <h1 class="title">EXPLORE <span style="font-weight:300;">JOBS.</span></h1>
    <h2 class="sub-title"><span style="font-weight:300;"> Find the job you desire.</span></h2>
    <div class="button-wrapper">
    <a href="signup" class="button button-highlight">Sign Up</a>
      <a href="login" class=" button button-secondary">LogIn</a>

    </div>
    </div>

  </div>
  </section>

            <!--Second-Section -->

<section id="features">
    <div class="wrapper">
        <h2>Features</h2>

        <div class="cont">
        <div class="section1">
          <h3>Lorem Ipsum</h3>
            <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
           "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
            "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
        </div>


         </div>

        <div class="cont">
        <div class="section2">
        <h3>Lorem Ipsum</h3>
        <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
        </div>

         </div>


        <div class="cont">
        <div class="section3">
        <h3>Lorem Ipsum</h3>
        <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
        </div>

         </div>



    </div>

    <section id="About">
    <div class="wrapper">


    </div>
    </section>





