
<section id="banner">
  <div class="wrapper">
    <header>
      <a href="/"><p id="logo">J<span>Vac</span></p></a>
      <a href="#" class="menu"><i class="fa fa-bars"></i></a>

    <nav>
      <a href ="#">Features</a>
      <a href ="about" >About Us </a>
      <a href="contact">Contact</a>
    </nav>




    </header>
    <div class="content">
    <h1 class="title">EXPLORE <span style="font-weight:300;">JOBS.</span></h1>
    <h2 class="sub-title"><span style="font-weight:300;"> Find the job you desire.</span></h2>
    <div class="button-wrapper">
    <a href="signup" class="button button-highlight">Sign Up</a>
      <a href="login" class=" button button-secondary">LogIn</a>

    </div>
    </div>

  </div>
  </section>

 <!--Second-Section -->
<section id="features">
    <div class="wrapper">
   <div class="feature">
        <h3>Lorem Ipsum</h3>
        <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
        <a href="#" class="button button-highlight button-smaller">Learn more</a>
    </div>

    <div class="feature">
        <h3>Lorem Ipsum</h3>
        <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
        <a href="#" class="button button-highlight button-smaller">Learn more</a>
    </div>

    <div class="feature">
        <h3>Lorem Ipsum</h3>
        <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
        <a href="#" class="button button-highlight button-smaller">Learn more</a>
    </div>


    </div>

</section>



