<section id="banner">
  <div class="wrapper">
    <header>
      <a href="/"><p id="logo">J<span>Vac</span></p></a>
      <a href="#" class="menu"><i class="fa fa-bars"></i></a>

    <nav>
      <a href ="#features1">Features</a>
      <a href ="#about" >About Us </a>
      <a href="#contact">Contact</a>
    </nav>




    </header>
    <div class="content">
    <h1 class="title">EXPLORE <span style="font-weight:300;">JOBS.</span></h1>
    <h2 class="sub-title"><span style="font-weight:300;"> Find the job you desire.</span></h2>
    <div class="button-wrapper">
    <a href="signup" class="button button-highlight">Sign Up</a>
      <a href="login" class=" button button-secondary">LogIn</a>

    </div>
    </div>

  </div>
  </section>

            <!--Second-Section -->
<section id="features1">
    <div class="wrapper1">
        <h2>Features</h2>
    </div>
</section>

<section id="features">
    <div class="wrapper">
        <div class="cont">
        <div class="section1">
          <h3>Lorem Ipsum</h3>
            <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
           "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
            "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
        </div>
        </div>
    </div>
  </section>

<section id="features1">
    <div class="wrapper1">
        <div class="cont1">
        <div class="section2">
        <h3>Lorem Ipsum</h3>
        <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
        </div>
         </div>
    </div>
</section>

<section id="features">
    <div class="wrapper">
        <div class="cont">
        <div class="section1">
        <h3>Lorem Ipsum</h3>
        <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
        </div>
         </div>
    </div>
</section>


<section id ="about">
    <div class="slider">
  <div class="slide_viewer">
    <div class="slide_group">
      <div class="slide">
        <h2> About Us </h2>
      </div>
      <div class="slide">

      </div>
      <div class="slide">

      </div>
      <div class="slide">

      </div>
    </div>
    <div class="slide_buttons">
</div>

<div class="directional_nav">
  <div class="previous_btn" title="Previous">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="-11 -11.5 65 66">
      <g>
        <g>
          <path fill="#474544" d="M-10.5,22.118C-10.5,4.132,4.133-10.5,22.118-10.5S54.736,4.132,54.736,22.118
      c0,17.985-14.633,32.618-32.618,32.618S-10.5,40.103-10.5,22.118z M-8.288,22.118c0,16.766,13.639,30.406,30.406,30.406 c16.765,0,30.405-13.641,30.405-30.406c0-16.766-13.641-30.406-30.405-30.406C5.35-8.288-8.288,5.352-8.288,22.118z"/>
          <path fill="#474544" d="M25.43,33.243L14.628,22.429c-0.433-0.432-0.433-1.132,0-1.564L25.43,10.051c0.432-0.432,1.132-0.432,1.563,0 c0.431,0.431,0.431,1.132,0,1.564L16.972,21.647l10.021,10.035c0.432,0.433,0.432,1.134,0,1.564  c-0.215,0.218-0.498,0.323-0.78,0.323C25.929,33.569,25.646,33.464,25.43,33.243z"/>
        </g>
      </g>
    </svg>
  </div>
  <div class="next_btn" title="Next">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="-11 -11.5 65 66">
      <g>
        <g>
          <path fill="#474544" d="M22.118,54.736C4.132,54.736-10.5,40.103-10.5,22.118C-10.5,4.132,4.132-10.5,22.118-10.5  c17.985,0,32.618,14.632,32.618,32.618C54.736,40.103,40.103,54.736,22.118,54.736z M22.118-8.288  c-16.765,0-30.406,13.64-30.406,30.406c0,16.766,13.641,30.406,30.406,30.406c16.768,0,30.406-13.641,30.406-30.406 C52.524,5.352,38.885-8.288,22.118-8.288z"/>
          <path fill="#474544" d="M18.022,33.569c 0.282,0-0.566-0.105-0.781-0.323c-0.432-0.431-0.432-1.132,0-1.564l10.022-10.035      L17.241,11.615c 0.431-0.432-0.431-1.133,0-1.564c0.432-0.432,1.132-0.432,1.564,0l10.803,10.814c0.433,0.432,0.433,1.132,0,1.564 L18.805,33.243C18.59,33.464,18.306,33.569,18.022,33.569z"/>
        </g>
      </g>
    </svg>
  </div>
</div>
  </div>

</div>


</section>



<section id="contact">
  <footer class="footer-distributed">

      <div class="footer-left">

        <h3><strong>J</strong><span>Vac</span></h3>
        <nav>
        <p class="footer-links">
          <a href="#banner">Home</a>
          .
          <a href="#features1">Features</a>
          .
          <a href="#about">About Us</a>


        </p>
        </nav>

        <p class="footer-company-name"><strong>J</strong>Vac &copy; 2015</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span></span>Kathmandu, Nepal</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+977-9860090688</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">Support@jvac.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About the Company</span>
          Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        </p>

        <div class="footer-icons">

          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>

        </div>

      </div>

    </footer>
</section>
