//------------------Variables-------------------//

$white: #fff;
$highlight: #7ac483;
$grey_background: #f2f1f8;
$grey_copy: #b9b7c6;
$dark_grey: #3f3d4e;
$dark_section: #34314c;

//------------------Global-styles-------------------//

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 90%;
  width: 1140px;
}

.button {
  border: none; 
  border-radius: 2rem;
  color: $white;
  font-weight: 700;
  outline: none;
  padding: .6rem  3.5rem;
  text-align: center;
  text-decoration: none;
}

.button_highlight {
  background: $highlight;
}

.button_highlight:hover {
  background: #55ae3a;
}

.button_secondary {
  background: rgba(250, 250, 250, .35);
}

.button_secondary:hover {
  background: rgba(245, 245, 245, .5);
}

.button_smaller {
  padding: .3rem 1.5rem;
}


//------------------Banner-styles-------------------//

.menu {
  display: none;
}

#banner {
  background: url('/assets/banner_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  header {
    padding: 2rem 0;
  }
  
  #logo {
    color: $white;
    float: left;
    font-size: 1.35rem;
    font-weight: 700;
    margin: 0;
    span {
      font-weight: 400;
    }
  }

  nav {
    float: right;
    a {
      color: $white;
      font-weight: 700;
      margin-left: 2rem;
      text-decoration: none;
    }

  }



.content {
  padding: 10.85rem 0 13.6rem;
  .title, .sub_title {
    color: $white;
    text-align: center;

  }
  
  .title {
    font-size: 3.5rem;
    margin: 0;
  }

  .sub_title {
  font-size: 1.35rem;
  font-weight: 400;
  line-height: 1.75;
  margin: 0 auto 2rem;
  width: 500px;
  }

  .button_wrapper {
    text-align: center;
    margin: 3rem 0;

  .button {
    margin: 0 .75rem;

  }
     }

  }
}


//------------------Responsive-Design-forTablets-------------------//

@media only screen and (max-width: 768px) {
  nav {
    display: none;
  }

  nav.active {
    display: block;
    width: 100%;
    a {
      border-bottom: 1px solid $highlight;
      display: block;
      padding: 1em 0;
      text-align: center;
      }
  }


  .button_smaller {
    margin: 1rem;
    padding: .3rem 2rem;
    width: 80%;
  }



  .menu {
    display: block;
    float: right;

    i {
      color: $highlight;
      font-size: 1.5em;
      padding-top: .2em;
    }
  }

  //---------smaller buttons to fit ----------- //

  .wrapper {
    margin: 0 auto;
    max-width: 90%;
    width: 768px;
  }

  .button {
    border: none;
    border-radius: 2rem;
    color: $white;
    font-weight: 700;
    outline: none;
    padding: .3rem  1.75rem;
    text-align: center;
    text-decoration: none;
  }


 //-----------Fit to size contents ------------//

  #banner {

    header {
      padding: 1rem 0;
    }

    #logo {
      float: left;
      font-size: 1.2rem;
      font-weight: 700;
      margin: 0;
      span {
        font-weight: 400;
      }
  }


    nav {
      float: right;
      a {
        color: $white;
        font-weight: 700;
        margin-left: 0;
        text-decoration: none;
      }
    }

    .content {
      margin: 1rem;
      padding: 10.85rem 0 13.6rem;

      .title, .sub_title {
        color: $white;
        text-align: center;
      }

      .title{
        font-size: 2.5rem;
        margin: 0;
      }

      .sub_title {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.75;
        margin: 0 auto 1rem;
        width: 300px;
      }

      .button_wrapper {
        margin: 1.5rem 0;
        text-align: center;

        .button {
          margin: 0 .75rem;
        }
      }

  }
}
}


//------------Second-Section-Design---------------//


//------------------Features-styles-------------------//

#features {
  background: $grey_background;
  padding: 1rem 0 18rem;
  position: relative;

  .feature{
    background: $white;
    border-radius: 1rem;
    float: left;
    margin: 2rem 1% 0;
    padding: 2rem 2.5%;
    position: relative;
    text-align: center;
    width: 31%;

    &:hover {
      -moz-box-shadow: 0 0 67px 0 rgba(4, 6, 9, .25);
      -webkit-box-shadow: 0 0 67px 0 rgba(4, 6, 9, .25);
      box-shadow: 0 0 67px 0 rgba(4, 6, 9, .25);
    }
  }


  h3 {
    color: $dark_grey;
    font-size: 1.5rem;
    margin: 0;
  }
   
  h1 {
    padding-top: .5rem;
    text-align: center;
  }

}

//--------------Samller displays-----------//
@media only screen and (max-width: 533px)
{
  .button_secondary {
    line-height: 1rem;
  }
}
